<% if @team.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">
        <%= pluralize(@team.errors.count, 'error') %> prohibited this team from being saved.
      </h4>
      <ul>
        <%= @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>