
<br>
<br>

<p>
  <strong>Avatar</strong>
  <br>
  <%= image_tag(@user.avatar_url, class: 'ui tiny circular image')  %>
</p>

<p>
  <strong>Name</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email</strong>
  <%= @user.email %>
</p>

<%= link_to 'Home', root_path, class: 'ui left floated button' %>