<% if @player.errors.any? %>
    <div class="ui error message">
      <div class="header">
        <%= pluralize(@player.errors.count, 'error') %> prohibited this player from being saved.
      </div>
      <ul>
        <%= @player.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>