<div class="ui small breadcrumb">
  <a class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <a class="active section">Players</a>
  <i class="right angle icon divider"></i>
  <a class="active section">Edit</a>
</div>

<br>
<br>

<%= render 'players/form' %>

<%= link_to 'Back', player_path, class: 'ui left floated button' %>
