<div class="ui top fixed small menu">
  <div href="#" class="header item">Girone Web</div>
  <a href="#" class="item">
    <i class="home icon"></i> Home
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>